.header__subtitle {
    position: absolute;
    margin: 0;
    width: 388px;
    height: 75px;
    left: 64px;
    bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
  }